@model IT_BookTrade.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", new { }, new { @class = "btn btn-outline-secondary" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", new { }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>

    <h4>Manage your offers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Offers:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Offers", "Offers", new { }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>
</div>
