body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.vertical-align {
    display: flex;
    align-items: center;
}
.Toptitle{
	color:#35938b;
	margin-left: -15px;
	margin-top: 5px;
}
.navIcons{
	font-size:25px !important; 
	text-align:center;
	color:#616161;
}
.navIcons:hover{
	color:#35938b;
}
