@model IEnumerable<IT_BookTrade_1.Models.Book>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class="btn btn-default"})
</p>

<br />

<div class="container my-2">




    <h3>Bestsellers</h3>

    <div class="row my-3">
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top card-img" src="~/Content/Images/startWhy.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title card-Title">Start With Why</h4>
                    <p class="card-text">Simon Sinek</p>
                    <p class="card-text card-price">$10</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>