body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.vertical-align {
    display: flex;
    align-items: center;
}
.Toptitle{
	color:#35938b;
	margin-left: -15px;
	margin-top: 5px;
}
.navIcons{
	font-size:25px !important; 
	text-align:center;
	color:#616161;
}
.navIcons:hover{
	color:#35938b;
}
.hrNav{
	margin:0;
	padding:0;
}
.card-price{
    color: #0caf5c;
    font-weight: bold;
}
.card-img{
    height: 124px;
    width: 106px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.card-Title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 50px;
    height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: bold;
}

.card-Author {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 50px;
    height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.star-ratings-sprite {
    background: url("Images/star.png") repeat-x;
    width: 110px;
    display: inline-block;
}

.star-ratings-sprite-rating {
    background: url("Images/star.png") repeat-x;
    background-position: 0 100%;
    height: 21px;
    display: block;
}